

@font-face {
  font-family: "Space Grotesk", sans-serif;
  src: url("./assets/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  font-family: "Space Grotesk",Arial, sans-serif;
}


.silder{
  scroll-snap-type: x mandatory;
}

.slider-center{
  scroll-snap-align: center;
}